:root {
  --color-primary: #000000;
  --color-secondary: #38BDF8;
  --color-bg-start: #FEF3C7;
  --color-bg-end: #FCD34D;
  --color-input: #F9FAFB;
  --color-text: #111827;
  --color-border: #E5E7EB;
  --color-error: #EF4444;
}

.bg-app-start{
  background-color: var(--color-bg-start);
}

.bg-app-end{
  background-color: var(--color-bg-end);
}

.bg-app-button-dark{
  background-color: var(--color-primary);
}

.text-app-black{

}